*{
    font-family: Arial, Helvetica, sans-serif;
}


nav{

    background-color: grey;
    padding:3px 12px;
}
ul{
    display: flex;
    flex-direction: row;
}

li{
    list-style-type: none;
    padding: 3px 4px;
}

a{
    text-decoration: none;
    color:white;
    font-weight:bold;
    cursor: pointer;
} 

h2{
  text-align: center;

}

body::before{
    content:"" ;
    position: absolute;
    top: 0;
    width: 100%;
    height: 800px;
    z-index: -1;
    opacity: 0.3;
    background: url("/static/gym1.webp")no-repeat center center;

}

.btn{
    display:block;
    margin: 12px auto;
    padding: 12px 24px;
    color:white;
    background-color: black;
    font-weight: bold;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 2px;

}



input,textarea{
      border-radius: 3px;
      outline-style: none;
      border :2px solid rgb(9, 9, 9);
      display: block;
      width: 60% ;
      margin: 12px auto;
      padding: 12px;
}